  .title {
    margin-top: -2.5%;
    margin-left: 60%;
    font-size: 60px;
    font-family:  cursive;
    font-weight: normal;
    position: absolute;
  }

  .photo{
    margin-top: 2%;
    margin-left: 2%;
    width: 500px;
  }

  .pop-container{
    background-color: #d5bdaf;
    width: 250px;
    height: 150px;
    position: absolute;
    margin-top: -7%;
    margin-left: 27%;
  }

  .data{
    font-family: cursive;
    font-size: 18px;
    margin-left: 7%;
  }

  .about{
    margin-top: 7%;
    margin-left: 3%;
    font-size: 28px;
    margin-right: 3%;
    font-family: cursive;
  }

  .about-container{
    display: flex;
    align-items: flex-start;
  }

  